In [4]:
from pony.orm import *


db = Database()


class Student(db.Entity):
    id = PrimaryKey(int, auto=True)
    Class = Required('Class')
    no = Optional(str, column='no')
    passwd = Optional(str, column='passwd')
    courses = Set('Course')
    name = Optional(str, column='name')


class Class(db.Entity):
    id = PrimaryKey(int, auto=True)
    students = Set(Student)
    name = Optional(str, column='name')


class Course(db.Entity):
    id = PrimaryKey(int, auto=True)
    students = Set(Student)
    name = Optional(str, column='name')








#db.generate_mapping()

# 如果没有这个223344.sqlite文件，需要先手动创建一个文本的空文件

In [5]:
db.bind(provider='sqlite', filename='c:/Users/s/Desktop/223344.sqlite')

db.generate_mapping(create_tables=True)

set_sql_debug(True)

# 创建数据

In [6]:
cls1 = Class(name="商务数据181")
course1 = Course(name="运营数据分析")
course2 = Course(name="行业报告撰写")
s1 = Student(name="小明",no="04",Class = cls1,passwd="123",courses=(course1))
s2 = Student(name="小红",no="08",Class = cls1,passwd="456",courses=(course2))
db.commit()

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Class" ("name") VALUES (?)
['商务数据181']

INSERT INTO "Course" ("name") VALUES (?)
['运营数据分析']

INSERT INTO "Course" ("name") VALUES (?)
['行业报告撰写']

INSERT INTO "Student" ("Class", "no", "passwd", "name") VALUES (?, ?, ?, ?)
[1, '04', '123', '小明']

INSERT INTO "Student" ("Class", "no", "passwd", "name") VALUES (?, ?, ?, ?)
[1, '08', '456', '小红']

EXECUTEMANY (2)
INSERT INTO "Course_Student" ("course", "student") VALUES (?, ?)
[1, 1]
[2, 2]

COMMIT

# 查询商务数据181班级有几人

In [7]:
cc = Class.select(lambda c:c.name=='商务数据181')
print(cc,len(cc))

BEGIN IMMEDIATE TRANSACTION
SELECT "c"."id", "c"."name"
FROM "Class" "c"
WHERE "c"."name" = '商务数据181'

<pony.orm.core.Query object at 0x000001E39E769E08> 1

# 改班级学生学习了什么课程

In [8]:
for c in cc:
    for stu in c.students:
        print(stu.name)
        for course in stu.courses :
            print(course.name)
        print("="*5)

小红
行业报告撰写
=====
小明
运营数据分析
=====