In [1]:
from pony.orm import *


db = Database()


class Student(db.Entity):
    id = PrimaryKey(int, auto=True)
    Class = Required('Class')
    no = Optional(str, column='no')
    passwd = Optional(str, column='passwd')
    courses = Set('Course')


class Class(db.Entity):
    id = PrimaryKey(int, auto=True)
    students = Set(Student)
    name = Optional(str, column='name')


class Course(db.Entity):
    id = PrimaryKey(int, auto=True)
    students = Set(Student)
    name = Optional(str, column='name')



#db.generate_mapping()

In [2]:
db.bind(provider='sqlite', filename='C:\\Users\\86182\\llll.sqlite')

db.generate_mapping(create_tables=True)

set_sql_debug(True)

In [3]:
cls1 = Class(name = "181")
c1 = Course(name = "区块链")
c2 = Course(name = "python数据分析")
s1 = Student(no = "24",Class = cls1,passwd = "123456",courses = (c1,c2))
s2 = Student(no = "06",Class = cls1,passwd = "123456",courses = (c1,c2))
s3 = Student(no = "29",Class = cls1,passwd = "123456",courses = (c1,c2))
db.commit()

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Class" ("name") VALUES (?)
['181']

INSERT INTO "Course" ("name") VALUES (?)
['区块链']

INSERT INTO "Course" ("name") VALUES (?)
['python数据分析']

INSERT INTO "Student" ("Class", "no", "passwd") VALUES (?, ?, ?)
[3, '24', '123456']

INSERT INTO "Student" ("Class", "no", "passwd") VALUES (?, ?, ?)
[3, '06', '123456']

INSERT INTO "Student" ("Class", "no", "passwd") VALUES (?, ?, ?)
[3, '29', '123456']

EXECUTEMANY (6)
INSERT INTO "Course_Student" ("course", "student") VALUES (?, ?)
[6, 7]
[5, 7]
[5, 9]
[5, 8]
[6, 9]
[6, 8]

COMMIT